{% extends "base.html" %}
{% block content %}
<div class="row">

<div class="col-xs-12 col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active"><a href="/article/list/{{ b.id }}">{{ b.name }}</a></li>
            <li>{{ a.title }}</li>
        </ol>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12" >
    <table class="table table-bordered">
        <tbody>
         <div class="col-xs-12 col-md-2"><td><center><strong>作者</strong></center><br>{{ name }}</br></td></div>
        <div class="col-xs-12 col-md-10"><td><center><h5><strong>{{ a.title }}</strong></h5></center><br>{{ a.content }}</td></div>
        </tbody>
     </div>
</div>

<br>
<br>
<br>
<div class="row">
    <div class="col-xs-12 col-md-12" >
    <table class="table table-bordered">
        <tbody>
        {% for comment in comment_objs %}
            <tr>
               <div class="col-xs-12 col-md-2"> <td><strong>作者:</strong>{{ comment.owner }}</td></div>
               <div class="col-xs-12 col-md-10"><td>{{ comment.content|linebreaksbr }}</td></div>
            </tr>
        {% endfor %}
        </tbody>

    </table>
    </div>
</div>


<nav>
<ul class="pagination">
    {% if fenye_data.laquo == 1 %}
        <li><a href="?page_no=1">首页</a></li>
        <li><a href="?page_no={{ fenye_data.previous_link }}">&laquo;</a></li>
    {% endif %}

    {% for i in fenye_data.page_links %}
        {% if i == fenye_data.page_no %}
        <li class="active"><a href="?page_no={{ i }}">{{ i }}</a></li>
        {% else %}
         <li><a href="?page_no={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if fenye_data.raquo == 1 %}
        <li><a href="?page_no={{ fenye_data.next_link }}">&raquo;</a></li>
        <li><a href="?page_no={{fenye_data.page_num}}">尾页</a></li>
    {% endif %}

</ul>
</nav>
  <br>
  <br>
<div class="row">
<div class="col-xs-12 col-md-12">
<form  class="form-horizontal"  role="form">

  <div class="form-group">
    <div class="col-xs-12 col-md-1"><label >评论内容</label></div>
    <div class="col-xs-12 col-md-11">
      <textarea class="form-control" rows="3" id="id_content"   name="content"  placeholder="请输入内容"></textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-xs-12 col-md-offset-5" >
      <button type="submit" id="btn_comment"  class="btn btn-primary btn-lg" >发表评论</button>
    </div>
   </div>
</form>

{#{% if form.content.errors %}#}
{#    {% for error in form.content.errors %}#}
{#    <div class="alert alert-danger">内容:{{ error }}</div>#}
{#    {% endfor %}#}
{#{% endif %}#}

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-csrf.js"></script>
<script type="text/javascript">

$(document).ready(function () {
    var article_id={{ a.id }};
    var page_num={{ fenye_data.page_num }};
    var content=$("#id_content").val();

    $("#btn_comment").click(function () {
        var content=$("#id_content").val();
        var parm={"article_id":article_id,"content":content};
        alert(parm["content"]);
        alert(article_id);
        
        $.post("/comment/create/",parm, function(data) {
            alert(3);
            var ret=JSON.parse(data);
            if(ret["status"]=="ok"){
                $("#btn_comment").val("");
                alert(ok);
                window.location.href="/article/{{ b.id }}/{{ a.id }}/detail?page_no=";
            }
            else {
                alert(ret["msg"]);
            }
        });
    });
});
</script>

{% endblock %}