{% extends "base.html" %}
{% block content %}
<div class="row">

<div class="col-xs-12 col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active"><a href="/article/list/{{ b.id }}">{{ b.name }}</a></li>
            <li>{{ a.title }}</li>
        </ol>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12" >
    <table class="table table-bordered">
        <tbody>
         <div class="col-xs-12 col-md-2"><td><center><strong>作者</strong></center><br>admin</br></td></div>
        <div class="col-xs-12 col-md-10"><td><center><h5><strong>{{ a.title }}</strong></h5></center><br>{{ a.content }}</td></div>
        </tbody>
     </div>
</div>
{% endblock %}