{% extends "base.html" %}
{% block content %}
<div class="row">

<div class="col-xs-12 col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="/">首页</a></li>
            <li class="active"><a href="/article/list/{{ b.id }}">{{ b.name }}</a></li>
            <li>{{ a.title }}</li>
        </ol>
</div>
</div>
</div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-12" >
    <table class="table table-bordered">
        <tbody>
         <div class="col-xs-12 col-md-2"><td><center><strong>作者</strong></center><br>{{ a.owner }}</br></td></div>
        <div class="col-xs-12 col-md-10"><td><center><h5><strong>{{ a.title }}</strong></h5></center><br>
            {% autoescape off %}
                <div>{{ a.content }}</div>
            {% endautoescape %}
        </tbody>
     </div>
</div>

<br>
<br>
<br>
<div class="row">
    <div class="col-xs-12 col-md-12" >
    <table class="table table-bordered">
        <tbody>
        {% for comment in comment_objs %}
            <tr>
               <div class="col-xs-12 col-md-2"> <td><strong>作者:</strong>{{ comment.owner }}</td></div>
               <div class="col-xs-12 col-md-10"><td>
                {% if comment.to_comment %}
                    <blockquote>
                        <b>{{ comment.to_comment.owner }}:</b>
                        <br/>
                            {{ comment.to_comment.content|linebreaksbr }}
                    </blockquote>
            {% endif %}
                {{ comment.content|linebreaksbr }}
            <a href="#to_comment" data-id="{{ comment.id }}"
               class="to_comment btn btn-primary pull-right">回复</a>
               </td></div>
            </tr>
        {% endfor %}

        </tbody>

    </table>
    </div>
</div>

{#<div class="form-group">#}
{#    <div class="col-xs-12 col-md-1"><label for="content">内容</label></div>#}
{#    <div class="col-xs-12 col-md-11">#}
{#      <textarea class="form-control" rows="8" name="content"  placeholder="请输入内容">{{ form.content.value }}</textarea>#}
{#    </div>#}
{#  </div>#}
{#        <script id="container" name="content" type="text/plian">#}
{#        </script>#}
{#        <input type="hidden" name="content" id="contentInput" />#}
{#  <br>#}
{#  <br>#}
{#  <div class="form-group">#}
{#    <div class="col-xs-12 col-md-offset-5" >#}
{#      <button type="submit" class="btn btn-primary btn-lg"#}
{#       onclick="setContent()">评论</button>#}
{#    </div>#}
{#</form>#}
{# </div>#}

<nav>
<ul class="pagination">
    {% if fenye_data.laquo == 1 %}
        <li><a href="?page_no=1">首页</a></li>
        <li><a href="?page_no={{ fenye_data.previous_link }}">&laquo;</a></li>
    {% endif %}

    {% for i in fenye_data.page_links %}
        {% if i == fenye_data.page_no %}
        <li class="active"><a href="?page_no={{ i }}">{{ i }}</a></li>
        {% else %}
         <li><a href="?page_no={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if fenye_data.raquo == 1 %}
        <li><a href="?page_no={{ fenye_data.next_link }}">&raquo;</a></li>
        <li><a href="?page_no={{fenye_data.page_num}}">尾页</a></li>
    {% endif %}

</ul>
</nav>
  <br>
  <br>

{#以后你想用js实现前端逻辑，就不可以使用form组件#}
{#否则无效#}

<div class="row">
<div class="col-xs-12 col-md-12">

    <div class="col-xs-12 col-md-1"><label >评论内容</label></div>
    <div class="col-xs-12 col-md-11">
{#      <textarea class="form-control" rows="3" id="id_content"   name="content"  placeholder="请输入内容"></textarea><br>#}
    <script id="container" name="content" type="text/plian">
   </script>
   <input type="hidden" name="content" id="contentInput" />
    </div>
  </div>

    <div class="col-xs-12 col-md-offset-5" >
      <button type="submit" id="btn_comment"  class="btn btn-primary btn-rg" onclick="setContent()">发表评论</button>
    </div>
   </div>

 </div>
</div>

{% if form.content.errors %}
    {% for error in form.content.errors %}
    <div class="alert alert-danger">内容:{{ error }}</div>
    {% endfor %}
{% endif %}

<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-csrf.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/static/ueditor/ueditor.all.js"></script>
<script type="text/javascript">
    var ue=UE.getEditor('container');
    function setContent() {
        document.getElementById("contentInput").value=ue.getContent();

$(document).ready(function () {
    var article_id={{ a.id }};
    var page_num={{ fenye_data.page_num }};
    var content=$("#id_content").val();
    var to_comment_id=0;
    var b_id={{ b.id }};
    var page_no={{ fenye_data.page_no }};

    $(".to_comment").click(function (e) {
        to_comment_id=parseInt($(e.target).attr("data-id"));
        $("#id_content").focus();

        return false;
    });



    $("#btn_comment").click(function () {
        var content=$("#id_content").val();

        var parm={"article_id":article_id,"content":content,"to_comment_id":to_comment_id,
                   "b_id":b_id,"page_no":page_no };


        $.post("/comment/create/",parm, function(data) {
            var ret=JSON.parse(data);
            if(ret["status"] == "ok"){
                $("#btn_comment").val("");
                window.location.href="/article/{{ b.id }}/{{ a.id }}/detail?page_no=1";
                    }
            else {
                alert(ret["msg"]);
            }
        });

    });


});
</script>

{% endblock %}