<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>xiaoxi</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>
<body>
<form action="/message/read/{{ i.id }}/" method="get">
<ul class="list-group">
    {% for i in message %}
        <li class="list-group-item">
        <a  href="/message/read/{{ i.id }}/" class="toread" >{{ i.content }}</a>
        </li>
    {% endfor %}
</ul>
</form>
</body>
</html>