<!--模板化 自动生成重复的内容  -->

{% extends "base.html" %}
{% block content %}
    <div class="col-xs-12 col-md-10">
        <!--变量一定不要叫block，跟模板关键字重名了-->
        {% for b in blocks %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="/article/list/{{ b.id }}" style="font-size: 18px" class="text-primary">{{ b.name }}</a>
                    <span class="pull-right">{{ b.manager_name }}<span>
                </div>
                <div class="panel-body">
                    {{ b.desc }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="col-xs-12 col-md-2">
        <div class="well">个人中心</div>

    </div>

    </div>
{% endblock %}
