<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>论坛首页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">容器
    <div class="row">行
        <div class="col-xs-12 col-md-12">列
        <div class="jumbotron">
            <center><h1>python论坛部落</h1></center>
        </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">运维专区</h3>
        </div>
        <div class="panel-body">
            运维专区人员
            </div>
        </div>

        <button type="button" class="btn btn-primary">Primary</button>
        </div>
        <div class="col-xs-12 col-md-3">django专区</div>
        <div class="col-xs-12 col-md-3">自动化专区</div>
        <div class="col-xs-12 col-md-3">部落建设</div>
    </div>
</div>
</body>



</html>